<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Visor JSON - Control Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>🔍 Inspección de Datos (`asistencia.json`)</h1>
    {% include 'nav.html' %}

    <p>Este es el contenido exacto almacenado en el disco del servidor:</p>
    
    <pre><code>{{ json_raw }}</code></pre>

    <a href="/descargar" class="btn-green">⬇️ Descargar Copia JSON</a>

</body>
</html>